<!-- 경로: app/views/chat-list.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/chat-list.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="chat-header-bottom">
      <span class="chat-count">채팅방 <%= chats.length %>개</span>
      <img
        src="/images/add-friend-icon.png"
        alt="채팅방 추가"
        class="add-chat-icon"
        id="add-chat-button"
      />
    </div>
    <div class="chat-list">
      <ul>
        <% if (chats && chats.length > 0) { %>
          <% chats.forEach(chat => { %>
            <li class="chat">
              <div class="chat-info">
                <span class="chat-name">채팅방: <%= chat.roomName %></span>
                <span class="chat-participants">
                  참여자: <%= chat.participants.join(', ') %></span
            >
          </div>
          <button
            class="enter-chat-button"
            onclick="enterChat('<%= chat._id %>')"
          >
            입장
          </button>
        </li>
        <% }) %> <% } else { %>
       
        <% } %>
      </ul>
    </div>
    <div class="bottom-bar">
      <img
        src="/images/person-icon.png"
        alt="사람"
        class="icon"
        id="person-icon"
        onclick="loadFriendList('<%= userEmail %>')"
      />
      <img
        src="/images/chat-icon.png"
        alt="채팅"
        class="icon"
        id="chat-icon"
        onclick="loadChatList('<%= userEmail %>')"
      />
    </div>
    <!-- 채팅방 추가 모달 창 -->
    <div id="addChatModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h4>채팅방 추가</h4>
        <p>친구의 이메일을 입력하세요</p>
        <!-- 사용자 이메일을 위한 숨겨진 필드 추가 -->
        <input type="hidden" name="userEmail" value="<%= userEmail %>" />
        <!-- 친구 이메일 입력 필드에 name 속성 추가 -->
        <input type="email" name="friendEmail" required id="friendEmail" />
        <button type="submit" id="model-chat-button">Add</button>
      </div>
    </div>
    <script src="/javascripts/renderPage.js"></script>
    <script src="/javascripts/chatModal.js"></script>
    <script src="/javascripts/friend.js"></script>
  </body>
</html>
