<!-- 경로 app/views/chat-info.ejs -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>친구 정보 페이지</title>
    <link rel="stylesheet" href="/stylesheets/chat-info.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="friends-container">
      <div class="friends-header">
        <%= name %>님
        <div class="header-content"></div>
      </div>
      <div class="friends-header-bottom">
        <span class="friend-count">친구 <%= friendCount %> 명</span>
        <img
          src="/images/add-friend-icon.png"
          alt="친구 추가"
          class="add-friend-icon"
          id="add-friend-button"
        />
      </div>
      <ul class="friends-list" id="friends-list">
        <% user.friends.forEach(friend => { %>
        <li class="friend-item">
          <div class="friend-info">
            <img
              src="/images/friend-photo.png"
              alt="친구 사진"
              class="friend-photo"
            />
            <div class="friend-name-status">
              <div class="friend-name"><%= friend.name %></div>
              <div class="friend-status">상태메세지</div>
            </div>
            <img
              src="/images/remove-friend-icon.png"
              alt="친구 삭제"
              class="remove-friend-icon"
              data-email="<%= friend.email %>"
            />
          </div>
          <input type="hidden" name="userEmail" value="<%= userEmail %>" />
        </li>
        <% }) %>
      </ul>
      <div class="bottom-bar">
        <img src="/images/person-icon.png" alt="사람" class="icon" />
        <img src="/images/chat-icon.png" alt="채팅" class="icon" />
      </div>
    </div>

    <!-- 모달 창 -->
    <div id="addFriendModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h4>친구 추가</h4>
        <p>친구의 이메일을 입력하세요</p>
        <!-- 사용자 이메일을 위한 숨겨진 필드 추가 -->
        <input type="hidden" name="userEmail" value="<%= userEmail %>" />
        <!-- 친구 이메일 입력 필드에 name 속성 추가 -->
        <input type="email" name="friendEmail" required />
        <button type="submit" id="modal-add-button">Add</button>
      </div>
    </div>
    <script src="/javascripts/friendAdd.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/friendRemove.js"></script>
  </body>
</html>
