<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="friends-header-bottom">
      <span class="friend-count">친구 <%= friendCount %> 명</span>
      <img
        src="/images/add-friend-icon.png"
        alt="친구 추가"
        class="add-friend-icon"
        id="modal-friend-button"
      />
    </div>
    <ul class="friends-list" id="friends-list">
      <% user.friends.forEach(friend => { %>
      <li class="friend-item">
        <div class="friend-info">
          <img
            src="/images/friend-photo.png"
            alt="친구 사진"
            class="friend-photo"
          />
          <div class="friend-name-status">
            <div class="friend-name"><%= friend.name %></div>
            <div class="friend-status">상태메세지</div>
          </div>
          <img
            src="/images/remove-friend-icon.png"
            alt="친구 삭제"
            class="remove-friend-icon"
            data-email="<%= friend.email %>"
          />
        </div>
        <input type="hidden" name="userEmail" value="<%= userEmail %>" />
      </li>
      <% }) %>
    </ul>
    <div class="bottom-bar">
      <img
        src="/images/person-icon.png"
        alt="사람"
        class="icon"
        id="person-icon"
        onclick="loadFriendList('<%= userEmail %>')"
      />
      <img
        src="/images/chat-icon.png"
        alt="채팅"
        class="icon"
        id="chat-icon"
        onclick="loadChatList('<%= userEmail %>')"
      />
    </div>
    
    <script src="/javascripts/renderPage.js"></script>
    <script src="/javascripts/friend.js"></script>
    <script src="/javascripts/friendModal.js"></script>
    <script src="/javascripts/Chat.js"></script>
  </body>
</html>
